[meine_server]
# Hier die echten IP-Adressen deiner Server eintragen.
# Hinweis: Das Lab nutzt aus Sicherheitsgründen den Custom-SSH-Port 2222.
192.168.X.X ansible_user=dein_username ansible_port=2222 ansible_interpreter_python=/usr/bin/python3
192.168.X.X ansible_user=dein_username ansible_port=2222 ansible_interpreter_python=/usr/bin/python3.12

